@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definición de variables globales */
:root {
  --primary: rgb(255, 222, 89); /* Amarillo con transparencia */
  --secondary: #f3f4f6;/* Gris claro */
  --terciary:#737373;
  --cuarteto:#111827;
  --title: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgb(255, 222, 89); /* O puedes definir un tono diferente para el modo oscuro */
    --secondary: #f3f4f6;
  }
}

/* Aplicación directa de variables en el body */
body {
  color: var(--primary);
  background: var(--secondary);
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Nueva clase de utilidad */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
